@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: MediumTurquoise;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;
  font-family: "Quicksand", sans-serif;
}

nav {
  height: 10vh;
  width: 100vw;
  background: #ccc;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: MediumTurquoise;
}

.container {
  width: 30vw;
  min-width: 290px;
  height: 20vh;
  min-height: 140px;

  background: #ccc;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

h2 {
  font-size: 2rem;
  color: rgb(228, 135, 23);
}

button {
  padding: 10px 40px;
  background-color: rgb(228, 135, 23);
  color: #ccc;

  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;

  border: orangered;
  outline: none;
}

button:active {
  border: none;
  outline: none;
}
